commons/src/test/resources/xsd/GP.systems.profiles.1.1.0.CardPrintingProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Kiushan Pirzadeh (Visa International) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by James Walsh (Datacard Group - Secure Issuance) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AnchorPosition">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="TOP_LEFT"/>
				<xs:enumeration value="TOP_CENTER"/>
				<xs:enumeration value="TOP_RIGHT"/>
				<xs:enumeration value="CENTER_LEFT"/>
				<xs:enumeration value="CENTER_CENTER"/>
				<xs:enumeration value="CENTER_RIGHT"/>
				<xs:enumeration value="BOTTOM_LEFT"/>
				<xs:enumeration value="BOTTOM_CENTER"/>
				<xs:enumeration value="BOTTOM_RIGHT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BackgroundColor">
		<xs:complexType/>
	</xs:element>
	<xs:complexType name="Barcode">
		<xs:sequence>
			<xs:element name="XPosition" type="XPositionType"/>
			<xs:element name="YPosition" type="YPositionType"/>
			<xs:element ref="ZPosition"/>
			<xs:element ref="Side"/>
			<xs:element ref="AnchorPosition"/>
			<xs:element ref="DPI"/>
			<xs:element ref="Type"/>
			<xs:element name="PersoData" type="PersoData"/>
			<xs:element name="Height" type="Height"/>
			<xs:element ref="HumanReadableText"/>
			<xs:element ref="HumanReadableStartDigit"/>
			<xs:element ref="HumanReadableCheckDigit"/>
			<xs:element name="Font" type="Font"/>
			<xs:element ref="QuietZone"/>
			<xs:element ref="CheckDigit"/>
			<xs:element name="Border" type="Border"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="description" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="Blue">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="Border">
		<xs:sequence>
			<xs:element name="Width" type="Width"/>
			<xs:element ref="LineStyle"/>
			<xs:element name="RoundCorner" type="RoundCorner" minOccurs="0"/>
			<xs:element name="CornerStyle" type="CornerStyle" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardDesignOrientation">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="LANDSCAPE"/>
				<xs:enumeration value="PORTRAIT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CardDesignOrigin">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="TOP_LEFT"/>
				<xs:enumeration value="TOP_RIGHT"/>
				<xs:enumeration value="BOTTOM_LEFT"/>
				<xs:enumeration value="BOTTOM_RIGHT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CardPrintingProfile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CardDesignOrientation"/>
				<xs:element ref="CardDesignOrigin"/>
				<xs:element ref="ConfigurationID" minOccurs="0"/>
				<xs:element ref="CardStockID" minOccurs="0"/>
				<xs:element ref="PersonalizationOrderConstraint" maxOccurs="unbounded"/>
				<xs:element name="Emboss" type="Emboss" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Label" type="Label" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="MagneticEncoding" type="MagneticEncodingType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Overlay" type="Overlay" minOccurs="0"/>
				<xs:element name="Barcode" type="Barcode" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Text" type="Text" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Image" type="Image" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CardStockID" type="xs:string"/>
	<xs:element name="CheckDigit" type="xs:string"/>
	<xs:element name="ConfigurationID" type="xs:string"/>
	<xs:complexType name="CornerRadius">
		<xs:sequence>
			<xs:element ref="value"/>
			<xs:element ref="Unit"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CornerStyle">
		<xs:choice>
			<xs:element ref="SquareCorner"/>
			<xs:element name="RoundCorner" type="RoundCorner"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="DPI" type="xs:short"/>
	<xs:complexType name="Emboss">
		<xs:sequence>
			<xs:element name="XPosition" type="XPositionType"/>
			<xs:element name="YPosition" type="YPositionType"/>
			<xs:element ref="Side"/>
			<xs:element ref="AnchorPosition"/>
			<xs:element name="PersoData" type="PersoData"/>
			<xs:element name="Font" type="Font"/>
			<xs:element ref="Topping"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="description" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="Font" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ForegroundColor" type="ForegroundColor"/>
			<xs:element ref="Name"/>
			<xs:element name="Size" type="Size"/>
			<xs:element ref="Style"/>
			<xs:element ref="BackgroundColor"/>
			<xs:element ref="Underline"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ForegroundColor">
		<xs:sequence>
			<xs:element name="RGB" type="RGB"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Green">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="Height">
		<xs:sequence>
			<xs:element ref="value"/>
			<xs:element ref="Unit"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="HumanReadableCheckDigit" type="xs:boolean"/>
	<xs:element name="HumanReadableStartDigit" type="xs:boolean"/>
	<xs:element name="HumanReadableText" type="xs:boolean"/>
	<xs:complexType name="Image">
		<xs:sequence>
			<xs:element name="XPosition" type="XPositionType"/>
			<xs:element name="YPosition" type="YPositionType"/>
			<xs:element ref="ZPosition"/>
			<xs:element ref="Side"/>
			<xs:element ref="AnchorPosition"/>
			<xs:element ref="Material"/>
			<xs:element name="PersoData" type="PersoData"/>
			<xs:element name="Border" type="Border"/>
			<xs:element ref="DPI"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="description" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="Label">
		<xs:sequence>
			<xs:element name="XPosition" type="XPositionType"/>
			<xs:element name="YPosition" type="YPositionType"/>
			<xs:element ref="Side"/>
			<xs:element ref="AnchorPosition"/>
			<xs:element ref="MaterialID"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="description" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="LineStyle">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Continuous"/>
				<xs:enumeration value="Dash"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="MagneticEncodingType">
		<xs:sequence>
			<xs:element ref="Side"/>
			<xs:element name="PersoData" type="PersoData"/>
			<xs:element ref="TrackTypeID"/>
			<xs:element ref="WriteLevelStandard"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="description" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="Material" type="xs:string"/>
	<xs:element name="MaterialID" type="xs:string"/>
	<xs:element name="Name" type="xs:string"/>
	<xs:complexType name="Overlay">
		<xs:sequence>
			<xs:element ref="Side"/>
			<xs:element ref="MaterialID"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="description" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="PersoData">
		<xs:simpleContent>
			<xs:extension base="PersoDataSimple">
				<xs:attribute name="field" type="xs:boolean" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="PersoDataSimple">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACCT"/>
			<xs:enumeration value="Image1"/>
			<xs:enumeration value="MS"/>
			<xs:enumeration value="Text1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="PersonalizationOrderConstraint" type="xs:string"/>
	<xs:element name="QuietZone" type="xs:string"/>
	<xs:complexType name="RGB">
		<xs:sequence>
			<xs:element ref="Red"/>
			<xs:element ref="Green"/>
			<xs:element ref="Blue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Red">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="RoundCorner">
		<xs:sequence>
			<xs:element name="CornerRadius" type="CornerRadius"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Side">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="BACK"/>
				<xs:enumeration value="FRONT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="Size">
		<xs:sequence>
			<xs:element ref="value"/>
			<xs:element ref="Unit"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SquareCorner">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Style" type="xs:string"/>
	<xs:complexType name="Text">
		<xs:sequence>
			<xs:element name="XPosition" type="XPositionType"/>
			<xs:element name="YPosition" type="YPositionType"/>
			<xs:element ref="ZPosition"/>
			<xs:element ref="Side"/>
			<xs:element ref="AnchorPosition"/>
			<xs:element ref="DPI"/>
			<xs:element name="PersoData" type="PersoData"/>
			<xs:element name="Font" type="Font"/>
			<xs:element name="Border" type="Border"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="description" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="Topping" type="xs:string"/>
	<xs:element name="TrackTypeID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ABA"/>
				<xs:enumeration value="IATA"/>
				<xs:enumeration value="TTS"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Type" type="xs:string"/>
	<xs:element name="Underline" type="xs:string"/>
	<xs:element name="Unit">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CPI"/>
				<xs:enumeration value="inch"/>
				<xs:enumeration value="mm"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="value">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0.022619138"/>
				<xs:enumeration value="0.026822286"/>
				<xs:enumeration value="0.02828049"/>
				<xs:enumeration value="0.031979915"/>
				<xs:enumeration value="0.1"/>
				<xs:enumeration value="1.0"/>
				<xs:enumeration value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="Width">
		<xs:sequence>
			<xs:element ref="value"/>
			<xs:element ref="Unit"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="WriteLevelStandard" type="xs:string"/>
	<xs:complexType name="XPositionType">
		<xs:sequence>
			<xs:element ref="value"/>
			<xs:element ref="Unit"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="YPositionType">
		<xs:sequence>
			<xs:element ref="value"/>
			<xs:element ref="Unit"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZPosition">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
				<xs:enumeration value="50"/>
				<xs:enumeration value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
